.projects-body {
  width: 1100px;
  margin-left: calc(50vw - 550px);
  height: auto;
  color: #ffffff;
}
.project-blog {
  width: 100%;
  margin-bottom: 40px;
}
.x1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.projects-tags-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  justify-content: left;
  overflow: hidden;
  gap: 10px;
  margin-bottom: 50px;
}
.projects-tags-container span {
  background-color: #ffffff;
  color: #164c67;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  font-family: "bold";
  font-size: 10pt;
}
.up-navi {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  margin-left: 0;
  gap: 5px;
}
.up-navi span {
  color: #898989;
  font-family: "bold";
  font-size: 10pt;
}
.up-navi button {
  color: #898989;
  font-family: "bold";
  font-size: 10pt;
  background: none;
  border: none;
  outline: none;
  text-align: left;
  margin-left: 0;
  padding: 0;
  cursor: pointer;
}
.up-navi button:hover {
  color: #ffffff;
}
.official-resource {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  gap: 5px;
}
.official-resource label {
  color: #898989;
  font-family: "bold";
  font-size: 10pt;
}
.official-resource a {
  color: #898989;
  font-family: "bold";
  font-size: 10pt;
  text-decoration: none;
}
.official-resource a:hover {
  color: #ffffff;
}
@media screen and (max-width: 1100px) {
  .projects-body {
    width: 800px;
    margin-left: calc(50vw - 400px);
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  .projects-body {
    width: calc(100vw - 40px);
    margin-left: 20px;
    height: auto;
  }
  .x1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .x2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .x3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .projects-tags-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: left;
    overflow: hidden;
    gap: 10px;
    margin-bottom: 50px;
  }
}
