.projects-body {
  width: 1100px;
  margin-left: calc(50vw - 550px);
  height: auto;
}
.project-blog {
  width: 100%;
  margin-bottom: 40px;
}
.x1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 1100px) {
  .projects-body {
    width: 800px;
    margin-left: calc(50vw - 400px);
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  .projects-body {
    width: calc(100vw - 40px);
    margin-left: 20px;
    height: auto;
  }
  .x1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .x2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .x3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
