.expertise-item {
  border: 1px solid #898989;
  cursor: pointer;
  background: var(--expertise-item-img, auto);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  justify-items: center;
}
.expertise-item:hover {
  background-size: 120%;
  transition: 0.3s;
}
.expertise-item h3 {
  color: #ffffff;
  text-align: center;
}
.expertise-item-tags-container{
    height: 100%;
    width: 80%;
    overflow: hidden;
}
.expertise-item-tags {
    height: 100%;
    width: auto;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: left;
    gap: 10px;
    font-family: 'bold';
    color: #898989;
    font-size: 10pt;
    line-height: 10px;
    animation-name: slide;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@media screen and (max-width: 1100px) {
  .expertise-item:hover {
    background-size: 150%;
    transition: 0.3s;
  }
}
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-160%);
  }
}