.expertise-container {
  display: grid;
  justify-items: center;
}
.expertise-container h1 {
  color: #ffffff;
}
.expertise-cont-body {
  margin-top: 50px;
  height: 500px;
  width: 100%;
}
.expertise-body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 60% 40%;
}
.expertise-section-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.expertise-section-down {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.expertise-detail {
  width: 100%;
  height: 100%;
  border: 1px solid #898989;
  background: var(--expertise-selected-img, auto);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 150%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.expertise-go-back-container {
  align-self: start;
  width: 150px;
  display: grid;
  grid-template-columns: auto auto;
  color: #ffffff;
  fill: #ffffff;
  font-family: "bold";
  font-size: 12pt;
  align-items: center;
  justify-items: left;
  cursor: pointer;
}
.expertise-go-back-container:hover {
  opacity: 0.8;
}
.expertise-go-back-container div {
  scale: 0.5;
}
.expertise-detail-container {
  justify-self: center;
  align-self: center;
  width: 85%;
  height: 80%;
  color: #ffffff;
  display: grid;
  grid-template-rows: 10% auto auto;
}
.expertise-detail-container div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-family: "bold";
  font-size: 10pt;
}
/***********************Mobile******************************/
.expertise-body-mobile {
  height: 600px;
  border: 1px solid gray;
  display: grid;
  grid-template-rows: 70% 30%;
}
.expertise-section-top-mobile {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.expertise-section-down-mobile {
  height: 100%;
  display: grid;
}
.expertise-detail-mobile {
  width: 100%;
  height: 600px;
  border: 1px solid #898989;
  background: var(--expertise-selected-img, auto);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 50% 50%;
}
.expertise-detail-container-mobile {
  background-color: rgba(0,0,0,0.8);
  justify-self: center;
  align-self: center;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  color: #ffffff;
  display: grid;
  grid-template-rows: 20% auto auto;
  padding: 10px;
}
.expertise-detail-container-mobile div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-family: "bold";
  font-size: 10pt;
}