.expirience-item-container {
    width: calc(100% - 40px);
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #39A8E0;
    border-radius: 10px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 80% 16% 4%;
    align-items: center;
    color: #ffffff;
    fill: #ffffff;
    margin-bottom: 10px;
}
.expirience-item-container div svg {
    scale: 0.7;
}
.expirience-item-details {
    width: calc(100% - 40px);
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #164C67;
    border-radius: 10px;
    margin-bottom: 10px;
}