.grid-item {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: calc(100% - 80px) 80px;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
}
.work-item-legend {
  background-color: #24292d;
  width: 100%;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-rows: 35px auto;
}
.work-item-legend h3 {
  color: #ffffff;
  font-family: "bold";
  font-size: 12pt;
}
.work-item-legend label {
  color: #898989;
  font-family: "regular";
  font-size: 10pt;
}
.work-item-legend b {
  color: #ffffff;
  font-family: "bold";
  font-size: 10pt;
  margin-top: 20px;
}
.work-item-img {
  width: 100%;
  height: 100%;
  background: var(--work-item-img, auto);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
}
.work-item-img:hover {
  transform: scale(1.2);
}

.small {
  grid-column: span 1;
  grid-row: span 1;
}

.wide {
  grid-column: span 2;
  grid-row: span 1;
}

.tall {
  grid-row: span 2;
}

.large {
  grid-column: span 2;
  grid-row: span 2;
}
@media screen and (max-width: 800px) {
  .small {
    grid-column: span 2;
    grid-row: span 1;
  }

  .wide {
    grid-column: span 2;
    grid-row: span 1;
  }

  .tall {
    grid-column: span 2;
    grid-row: span 1;
  }

  .large {
    grid-column: span 2;
    grid-row: span 1;
  }
}
