.p {
  font-family: "regular";
  font-size: 12pt;
  line-height: 20px;
  margin-bottom: 20px;
}
.p span {
  font-family: "regular";
  font-size: 12pt;
  line-height: 20px;
}
.unit {
  width: calc(100% - 20px);
  display: grid;
  align-content: start;
}
.unit-title {
  color: #ffffff;
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  align-items: center;
  gap: 5px;
  white-space: pre-line;
}
.unit-title h3 {
  line-height: 20px;
}
.unit label {
  font-family: "regular";
  font-size: 10pt;
}
.unit span {
  color: #898989;
  font-family: "regular";
  font-size: 12pt;
  margin-top: -12px;
  margin-bottom: 20px;
}
.unit b {
  color: #898989;
  font-family: "regular";
  font-size: 10pt;
  margin-top: -10px;
  margin-bottom: 20px;
}
.unit p {
  font-family: "regular";
  font-size: 10pt;
  color: #ffffff;
}
.list-p span {
  color: #ffffff;
}
.unit-img {
  width: 100%;
  height: var(--unit-img-height, auto);
  background: var(--unit-img, auto);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-bottom: 20px;
}
.unit-img:hover {
  background-size: 110%;
}
.unit video {
  width: 100%;
  height: var(--unit-video-height, auto);
}
.unit iframe {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  height: var(--unit-embed-height, auto);
}
.carousel {
  height: var(--carousel-height, auto);
  margin-bottom: 100px;
}
@media screen and (max-width: 800px) {
  .unit {
    width: 100%;
    display: grid;
    align-content: start;
  }
  .carousel {
    height: var(--carousel-height, auto);
    margin-bottom: 10px;
  }
}
